<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Coretix WebApp</display-name>
    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>login2.xhtml</welcome-file>
    </welcome-file-list>
    <!-- Spring Context Configuration' s Path definition -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>ApplicationStartupServlet</servlet-name>
        <servlet-class>com.web.coretix.applicationstartup.ApplicationStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <session-config>
        <session-timeout>30</session-timeout> <!-- Session timeout in minutes -->
    </session-config>
    <!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext.
    It is registered to Servlet Container -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <description>The listener which listens for session life cycle events</description>
        <display-name>SessionListeners</display-name>
        <listener-class>com.web.coretix.general.SessionListeners</listener-class>
    </listener>
    <listener>
        <listener-class>com.web.coretix.general.BackgroundThreadsKillerListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SessionAuditServlet</servlet-name>
        <servlet-class>com.web.coretix.general.SessionAuditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionAuditServlet</servlet-name>
        <url-pattern>/session-audit</url-pattern>
    </servlet-mapping>
    <!-- Client-side state saving for better performance (70% memory reduction) -->
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>-1</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- Compress ViewState for faster transmission -->
    <context-param>
        <param-name>javax.faces.COMPRESS_STATE</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- PrimeFaces optimizations -->
    <context-param>
        <param-name>primefaces.SUBMIT</param-name>
        <param-value>partial</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>avalon-#{guestPreferences.theme}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/primefaces-avalon.taglib.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.apache.webbeans.servlet.WebBeansConfigurationListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <filter>
        <filter-name>SessionExpiryFilter</filter-name>
        <filter-class>com.web.coretix.filter.SessionExpiryFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionExpiryFilter</filter-name>
        <url-pattern>/secured/*</url-pattern> <!-- Apply to specific secured paths -->
    </filter-mapping>
    <filter>
        <filter-name>Character Encoding Filter</filter-name>
        <filter-class>com.web.coretix.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Character Encoding Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>FriendlyUrlFilter</filter-name>
        <filter-class>com.web.coretix.filter.FriendlyUrlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FriendlyUrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.web.coretix.customhandlers.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <mime-mapping>
        <extension>mp4</extension>
        <mime-type>video/mp4</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-sfnt</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot?#iefix</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exosemibold</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exobolditalic</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exomedium</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exoregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#fontawesomeregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <!-- Specific error code handling (e.g., 404 and 500) -->
    <!-- Error page configuration for unhandled exceptions -->
    <error-page>
        <!-- Catch all uncaught exceptions -->
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/errorandwarningpages/error.xhtml</location>
    </error-page>
    <!-- Error Page for specific exception -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/pages/errorandwarningpages/error.xhtml</location>
    </error-page>
    <!--4XX errors-->
    <error-page>
        <error-code>400</error-code>
        <location>/pages/errorandwarningpages/400badrequest.xhtml</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/pages/errorandwarningpages/401unauthorized.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/pages/errorandwarningpages/403forbidden.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/errorandwarningpages/404notfound.xhtml</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/pages/errorandwarningpages/408sessiontimeout.xhtml</location>
    </error-page>
    <!--5XX errors-->
    <error-page>
        <error-code>500</error-code>
        <location>/pages/errorandwarningpages/500internalservererror.xhtml</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/pages/errorandwarningpages/501notimplemented.xhtml</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/pages/errorandwarningpages/502badgateway.xhtml</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/pages/errorandwarningpages/501serviceunavailable.xhtml</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/pages/errorandwarningpages/504gatewaytimeout.xhtml</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/pages/errorandwarningpages/505httpversionnotsupported.xhtml</location>
    </error-page>
    <error-page>
        <error-code>506</error-code>
        <location>/pages/errorandwarningpages/506variantalsonegotiates.xhtml</location>
    </error-page>
    <error-page>
        <error-code>509</error-code>
        <location>/pages/errorandwarningpages/509bandwidthlimitexceeded.xhtml</location>
    </error-page>
    <error-page>
        <error-code>510</error-code>
        <location>/pages/errorandwarningpages/510notextended.xhtml</location>
    </error-page>
</web-app>
